* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

/*
Sezione header
*/

header {
    background-color: rgb(36, 85, 222);
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.container {
    max-width: 900px;
    margin: auto;
}

 header .row {
    height: 40px;
    background-color: rgb(36, 85, 222);
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    margin: 10px;
}

a {
    color: white;
    text-decoration: none;
}

button {
    padding: 10px;
    border-radius: 25px;
    background-color: white;
    border: 0;
    font-size: 15px;
}

.col-25 {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
}

.col-50 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.align-left {
    align-items: flex-end;
    padding-right: 5px;
}

/*
Sezione introduttiva
*/

.container-intro {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.container-intro .row {
    width: 55%;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
}

h1 {
    margin: 30px;
    text-align: center;
    font-size: 40px;
}

p {
    line-height: 2;
    font-size: 15px;
    margin-bottom: 20px;
}

button {
    font-size: 15px;
    margin: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#black-button {
    background-color: rgb(30, 30, 30);
    color: white;
}

/*
Sezione due colonne backgroud bianco
*/

.half-container-white {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.half-container-white .row {
    width: 80%;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 60px;
    padding-right: 60px;
}

.half-container-white img {
    width: 100%;
}

.half-container-white h2 {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.half-container-white p {
    line-height: 1.5;
}

/*
Sezione due colonne backgroud grigio
*/

.half-container-gray {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(237, 237, 237);
}

.half-container-gray .row {
    width: 80%;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.half-container-gray img {
    width: 100%;
}

.half-container-gray h2 {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.half-container-gray p {
    line-height: 1.5;
}

/*
Sezione contenitore pieno finale
*/

.last-container {
    background-color: rgb(237, 237, 237);
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.last-container .row {
    width: 60%;
    height: 650px;
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-container img {
    width: 100%;
}

.last-container h2 {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.last-container p {
    line-height: 1.5;
}

.last-container button {
    color: white;
    background-color: rgb(130, 151, 217);
}

.last-container h3 {
    margin-bottom: 20px;
}

/*
Sezione cinque colonne
*/

.five-container {
    background-color: rgb(45, 45, 45);
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.five-container .row {
    width: 60%;
    height: 300px;
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.col-30 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.col-15 {
    width: calc(70% / 4);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.five-container p {
    color: white;
    font-size: 11px;
    line-height: 0.5;
}

hr {
    color: rgb(130, 151, 217);
}

.col-30 p {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image img {
    height: 10px;
    margin: 10px;
    margin-left: 0;
}

.col-30 h3 {
    font-size: 23px;
    color: rgb(130, 151, 217);
    line-height: 1.3;
    margin-bottom: 10px;
}

.col-15 .title {
    color: rgb(130, 151, 217);
    font-weight: bolder;
    margin-top: 8px;
}

/*
Sezione contatti
*/

.row-container {
    background-color: rgb(45, 45, 45);
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-container .row {
    border: 0;
    width: 60%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
}

.row-container img {
    height: 25px;
}

.row-container button {
    background-color: rgb(130, 151, 217);
    font-size: 10px;
    color: white;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}